body{padding: 0px; margin: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
a{text-decoration: none;color: inherit;}
a:hover{color: blue;}
.wrap_search .search_item, .wrap_search .search_item .item_text, .wrap_search .search_item .item_obj{display: inline-block;height: 28px; line-height: 28px; overflow: hidden;}
.wrap_search .search_item{width: 200px;}
.wrap_search .search_item .item_text{width: 80px; text-align: right;}
.wrap_search .search_item .item_obj{}
.wrap_search .search_item.search_between{display: inline-block; width: 400px;}
.wrap_search input,select{width: 100px;}
.combobox-item, .combobox-group{min-height: 12px;}
table th{font-weight: normal; color: #383838; text-align: right;}
table th span{display: inline-block; width: 100px;}
.add_content input.box{width: 13px;}
.datagrid-btable .operate{padding: 2px;}
textarea {border: 1px solid rgb(149, 184, 231); border-radius: 4px;	}

/**弹窗遮布背景**/
.window-proxy-mask, .window-mask {background: #464646;}
.window-mask{filter: alpha(opacity=60);opacity: 0.6;}

.detail_page .item {display: inline-block; min-width: 100px; max-width: 180px;}