body{padding: 0px; margin: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
a{text-decoration: none;color: inherit;}
a:hover{color: blue;}
.wrap_search{margin: 5px 0px;}
.wrap_search .search_item, .wrap_search .search_item .item_text, .wrap_search .search_item .item_obj{display: inline-block;height: 28px; line-height: 28px; overflow: hidden;}
.wrap_search .search_item{width: 200px;}
.wrap_search .search_item .item_text{width: 80px; text-align: right;}
.wrap_search .search_item .item_obj{}
.wrap_search .search_item.search_between{display: inline-block; width: 400px;}
.wrap_search input,select{width: 100px;}

.combobox-item, .combobox-group{min-height: 12px;}

table{border-collapse: collapse;}
table th{font-weight: normal; color: #383838; text-align: right; }

.table1 th{background: #EFEFEF;}
.table1 th, .table1 td{border-bottom: 1px solid #DADADA;}

.addPage table, .updatePage table, .detailPage table{width: 100%;}
.addPage table td, .updatePage table td, .detailPage table td {padding: 5px;}
.addPage table th, .updatePage table th, .detailPage table th {padding: 5px;}
.addPage table th span, .updatePage table th span, .detailPage table th span {display: inline-block; width: 100px;}
.addPage table td input, .updatePage table td input {width: 130px; line-height: 18px; border: 1px solid #D3D3D3; border-radius: 5px;}
.addPage table td textarea, .updatePage table td textarea {width: 126px; line-height: 18px; border: 1px solid #D3D3D3; border-radius: 5px;}
.detailPage .valueSpan{display: inline-block; min-width: 140px; max-width: 220px; word-break:break-all;}

.add_content input.box{width: 13px;}
.datagrid-btable .operate{padding: 2px;}
textarea {border: 1px solid #D3D3D3; border-radius: 5px;}

/**弹窗遮布背景**/
.window-proxy-mask, .window-mask {background: #000000;}
.window-mask{filter: alpha(opacity=60);opacity: 0.6;}

.detail_page .item {display: inline-block; min-width: 100px; max-width: 180px;}

.datagrid-header-row, .datagrid-row {height: 29px;}
.textbox-focused {
  border-color: #48ADE0;
  -moz-box-shadow: 0 0 1px 0 #D3D3D3;
  -webkit-box-shadow: 0 0 1px 0 #D3D3D3;
  box-shadow: 0 0 1px 0 #D3D3D3;
}

/**调整tabs样式**/
.tabs li a.tabs-inner {border-radius: 0px;}
.tabs-header, .tabs-tool {
    background-color: #D9DEE4;
    padding-top: 4px;
}
.tabs-header {
	#padding-top: 22px;
}

.tabs li.tabs-selected * {
	color: #09c;
}
.tabs li.tabs-selected a.tabs-inner {
    border: 1px solid #2dc4f7;
    border-bottom: 1px solid #fff;
    
}
.tabs li a.tabs-close {
    background-position-x: 1000px;
    font-weight: bold;
  	font-size: 12px;
  	text-align: center;
    line-height: 10px;
}
.tabs li .tabs-close:before {content: "x";}
 
 
/**table**/
.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-color: #EAEDF1;
    border-style: solid;
}
.datagrid-header, .datagrid-td-rownumber {
    background-color: #f5f5f5;
    background: #f5f5f5;
}    

